// $fs: 14px;
// $fc:#f6b505;
// $fcw: #fff;
// $fcb: #212121;
// $ff:'Roboto', sans-serif;
// $fw: 600;
// $marg: 20px;
// $margt: 40px auto;
// $margto:10px;
// $pad: 10px;
// $wid:100px;
// $heigh:50px;
// $txtc: center;
// $trns:all ease 1s;
// $curpo: pointer;


$color1:#fff;
$color2:#212121;
$color3:#f6b505;

$ff: 'Roboto', sans-serif;
$fw: 600;
$fz: 14px;

$txtc: center;
$trns:all ease 1s;

$width: 100px;
$height: 100px;

$justify:center;
$dirextion: column;

$marginT: 20px;
$paddL: 15px;
$padd2: 8px 10px;


$hide: none;


